@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome</h1>
    <h1 class="display-3">Full-Stack OPC UA System</h1>
    <br />
    <img src="~/images/overview.png" alt="OPC UA Full-Stack System Design Diagram" class="img-fluid mb-5" />
</div>

<div class="d-flex justify-content-center mt-4">
    <nav>
        <ul class="list-unstyled d-flex flex-column align-items-center">
            <li class="mb-3">
                <a href="/WaterPumpData" class="btn btn-outline-dark" style="font-size: 2rem;">
                    Server 1: Water Pump
                </a>
            </li>
        </ul>
    </nav>
</div>

